<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/styles.css" rel="stylesheet">
  <title>File Download</title>
</head>
<body>
  <div class="full-screen-container">
    <div class="login-container">
      <h1 class="page-title">File Download</h1>
      <% if (locals.error) { %>
      <div class="errorMsg">
        Incorrect Password
      </div>
      <% } %>
      <form method="post" class="form" enctype="multipart/form-data">
        <div class="input-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
        </div>
        <button class="download-button" type="submit">Download</button>
      </form>
    </div>
  </div>
</body>
</html>